<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Enter your new password</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="myCustomer['password']" required />
        <p *ngIf="error['password']">{{error['password']}}</p>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control" [(ngModel)]="myCustomer['confirm_password']" (change)="confirmPasswordCheck()" required />
        <p *ngIf="error['confirm_password']">{{error['confirm_password']}}</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="reset()">Reset</button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>