<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 login text-center align-middle">
      <p>Wellcome</p>
      <p>To</p>
      <h1>HoneyWeb.Org</h1>
      <h5>Backend Solutions</h5>
      <p>One Servie</p>
      <p>Fullfills the need of all backend services like login, database, email, file upload, chat, notifications etc..</p>
      <button class="btn btn-primary">Get Started</button>
      <h3>Login</h3>
      <a class="btn btn-default" href="http://localhost:8003/login/google"><i class="fa fa-google-plus"></i> Google</a>
      <a class="btn btn-default" href="http://localhost:8003/login/facebook"><i class="fa fa-facebook"></i> Facebook</a>
      <a class="btn btn-default"><i class="fa fa-twitter"></i> Twitter</a>
      <a class="btn btn-default"><i class="fa fa-youtube"></i> Youtube</a>
      <a class="btn btn-default" (click)="login()"><i class="fa fa-github"></i> Github</a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>