<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Enter your email</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="myCustomer['email']" required />
        </div>
        <p *ngIf="error['email']">{{error['email']}}</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>